.face {
    width:100%;
}
.face-h3{
    margin: 0px 5px;
}

.faceParagraph {
    margin: 7px 0;
    height: 60px;
    border: ridge;
    margin-top: 7px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}